<form [formGroup]="form" class="register" (ngSubmit)="registerHandler()">
    <div id="app">
        <div class="app-view">
            <header class="app-header">
                <span class="app-subheading"> Register </span>
            </header>
            <!-- username -->
            <input type="text" formControlName="username" id="username" placeholder="Username" required />
            <ng-container *ngIf="form.get('username')?.touched">
                <p *ngIf="form.get('username')?.errors?.['required']" class="error">Username is required!</p>
                <p *ngIf="form.get('username')?.errors?.['minlength']" class="error">Username must be at least 3
                    charactes!</p>
            </ng-container>

            <!-- email -->
            <input type="email" formControlName="email" id="email" required pattern=".*\.\w{2,}"
                placeholder="Email Address" />
            <ng-container *ngIf="form.get('email')?.touched">
                <p *ngIf="form.get('email')?.errors?.['required']" class="error">Email is required!</p>
                <p *ngIf="form.get('email')?.errors?.['email']" class="error">Email is invalid!</p>
            </ng-container>

            <ng-container formGroupName="passGroup">
                <!-- password -->
                <input type="password" formControlName="password" id="password" required minlength="4"
                    placeholder="Password" />
                <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
                    <p *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']" class="error">Password is
                        required!</p>
                    <p *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']" class="error">Password must be
                        at least 4 charactes!</p>
                </ng-container>

                <!-- rePassword -->
                <input type="password" formControlName="rePassword" id="rePassword" required
                    placeholder="Repeat Password" />

                <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
                    <p *ngIf="form.get('passGroup')?.get('rePassword')?.errors?.['required']" class="error">Password is required!</p>
                    <p *ngIf="form.get('passGroup')?.errors?.['samePasswordsValidator']" class="error">Passwords missmatch!</p>
                </ng-container>

            </ng-container>

            <button [disabled]="form.invalid" class="app-button">Register</button>
            <div class="app-register">
                Have an account? <a routerLink="/auth/login">Sign In</a>
            </div>
        </div>
    </div>
</form>