<form #form="ngForm" (ngSubmit)="login(form)">
  <div id="app">
    <div class="app-view">
      <header class="app-header">
        <span class="app-subheading"> Sign in to continue. </span>
      </header>
      <input
        type="email"
        required
        email
        pattern=".*\.\w{2,}"
        placeholder="Email Address"
        ngModel
        name="email"
        #inputEmail="ngModel"
      />
      <ng-container *ngIf="inputEmail.touched">
        <p *ngIf="inputEmail.errors?.['required']" class="error">
          Email is required.
        </p>
        <p *ngIf="inputEmail.errors?.['pattern']" class="error">
          Email is invalid.
        </p>
      </ng-container>

      <input
        type="password"
        required
        placeholder="Password"
        ngModel
        name="password"
        #inputPassword="ngModel"
      />
      <ng-container *ngIf="inputPassword.touched">
        <p *ngIf="inputPassword.errors?.['required']" class="error">Password is required.</p>
      </ng-container>

      <button [disabled]="form.invalid" class="app-button">Login</button>
      <div class="app-register">
        Don't have an account? <a routerLink="/register">Sign Up</a>
      </div>
    </div>
  </div>
</form>
