<div class="header">
  <nav>
    <h1 class="nav-title"><a routerLink="/">RELISH TIME</a></h1>

    <div class="nav-list">
      <ul>
        <li
          (click)="activeToggle($event)"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a routerLink="/">Home</a>
        </li>
      </ul>
      <ul *ngIf="!isLoggedIn">
        <li (click)="activeToggle($event)" routerLinkActive="active">
          <a routerLink="/auth/register">Register</a>
        </li>
        <li (click)="activeToggle($event)" routerLinkActive="active">
          <a routerLink="/auth/login">Login</a>
        </li>
      </ul>
      <ul *ngIf="isLoggedIn">
        <li (click)="activeToggle($event)" routerLinkActive="active">
          <a routerLink="/recipes/create">Create</a>
        </li>
        <li (click)="activeToggle($event)" routerLinkActive="active">
          <a routerLink="auth/profile">{{ username }}'s profile</a>
        </li>
        <li
          (click)="logout()"
          (click)="activeToggle($event)"
          routerLinkActive="active"
        >
          <a routerLink="/auth/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
