.notification {
  position: fixed;
  z-index: 10;
  right: 8%;
  top: 8%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  font-style: italic;
  text-decoration: underline;
  box-shadow: 0 5px 10px rgb(204, 204, 204);
  background-color: rgba(238, 74, 74, 0.699);

  animation: notify 3s ease-in;
}

@keyframes notify {
  0% {transform: scaleX(0); border-radius: 1em;}
  10% {transform: scaleX(1); border-radius: 1em;}
  13% {transform: scale(1.1); border-radius: 1em;}
  16% {transform: scale(1); border-radius: 1em;}
}
.notification h6 {
  font-weight: 700;
  display: inline;
}

.notification p {
  font-weight: 400;
  display: inline;
}

@keyframes exit {
  0% {opacity: 1;}
  55% {opacity: 1;}
  65% {opacity: 0;}  
  100% {opacity: 0;}
}